*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  list-style:none;

}
body{
  height:100vh;
  background-color:red;
}
.container{
  width:100%;
  height:500px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
h1{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:5vh;
}
li{
  background-color:purple;
  display:inline-block;
  width:12.7vw;
}
button{
  display:inline-block;
  height:3.8vh;
  width:2vw;
}
